.cont{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 7rem 0 0 0 ;
    
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/NEW2-01.svg);
    background-size: cover;
    filter:grayscale();
    opacity: .1;
    z-index: -4;

}

@media (max-width: 768px){
    

}